main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    margin-top: 10px;
    font-size: 20px;
    display: block;
}

form input[type="text"], form input[type="email"], form input[type="submit"], form textarea {
    display: block;
    margin-bottom: 15px;
    padding: 10px 25px;
    font-size: 17px;
    width: 50%;
}

form input[type="radio"], form input[type="checkbox"] {
    margin: 10px 0;
}

form input[type="submit"] {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

form input[type="submit"]:hover {
    background: darkorange;
    transform: scale(1.2);
}

form input:invalid {
    border-color: rgba(255, 0, 0, 0.363);
    display: block;
}

form input:invalid:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452) inset,
    0 0 10px rgb(255, 0, 0);
    border-color: rgba(172, 0, 0, 0.5);
}

select {
    width: 40%;
}

table {
    margin: 20px 0 40px 0;
}

thead {
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


@media screen and (max-width: 480px) {
    main {
        width: auto;
    }

    form label, form input[type="text"], form input[type="email"], textarea, legend {
        width: 80%;
        margin: 5px;
    }

    form input[type="radio"], form input[type="checkbox"] {
        width: auto;
        margin: 3px;
    }

    form input[type="submit"] {
        margin: 0 auto;
    }

    form input[type="radio"] {
        margin-bottom: 10px;
    }

    select {
        margin: 3px 0 10px 5px;
    }

    table {
        margin: 20px auto;
    }
}